# Исключаем директорию с зависимостями, так как они устанавливаются внутри контейнера.
# Это самое важное правило для ускорения сборки.
node_modules

# Исключаем директорию со сборочными артефактами.
# Dockerfile сам создает эту директорию внутри контейнера.
dist
.astro

# Исключаем директорию Git.
.git

# Исключаем файлы, связанные с Docker.
Dockerfile
.dockerignore

# Исключаем локальные файлы окружения.
.env
.env.*
!.env.example

# Исключаем логи npm.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Исключаем директории IDE.
.vscode
.idea